#trainerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#trainerContainer form {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: start;
    max-width: 250px;
    gap: 5px;
}

#trainerContainer form>input {
    width: 95%;
}

#trainerContainer form>button {
    grid-column-start: 1;
    grid-column-end: -1;
    justify-self: end;
}

#trainersList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.trainerCard-light {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    color: black;
}

.trainerCard-dark {
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: black;
    color: white;
}