nav.navigation {
  display: flex;
  justify-content: space-around;
}

nav.light {
  background-color: white;
}

nav.light>a {
  color: black;
}

nav.dark {
  background-color: black;
}

nav.dark>a {
  color: white;

}